<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <h1>New Expense Page</h1>
        <form action="/expenses" method="POST">
            Transaction Name: <input placeholder="Chipotle ..." type="text" name="name" /><br />
            Transaction Date: <input placeholder=" 1/1/21..." type="text" name="date" /><br />
            Amount: <input placeholder="12.00.." type="text" name="amount" /><br /> 
            Description: <input placeholder="optional..." type="text" name="description" /><br />
            <input type="submit" name="" value="Add Expense" />
        </form>

        <a href="/expenses">Back to All Expenses</a>
    </body>

</html>