<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

    <body>
        <h1>New Expense Page</h1>
        <form action="/expenses" method="POST">
            Name: <input type="text" name="name" /><br />
            Date: <input type="text" name="date" /><br />
            Amount: <input type="text" name="amount" /><br /> 
            Description: <input type="text" name="description" /><br />
            <input type="submit" name="" value="Add Expense" />
        </form>

        <a href="/expenses">Back to All Expenses</a>
    </body>

</html>